

# OPENAI
OPENAI_API_KEY= ''
AZURE_OPENAI_ENDPOINT = ''

# ANTHROPIC
ANTHROPIC_API_KEY= ''

# CONNECTION DETAILS FOR YOUR SURREAL DB

# If setting up in server only mode: 
# SURREAL_ADDRESS=on-v2-db-only.asdfasd.cloudera.site # or the like
# SURREAL_PORT=443
# SURREAL_USER="root"
# SURREAL_PASS="root"
# SURREAL_NAMESPACE="open_notebook"
# SURREAL_DATABASE="staging" # this will actually be user-specific
# ENCRYPTED_CONNECTION = True 

# If setting up on localhost:
SURREAL_ADDRESS=127.0.0.1
SURREAL_PORT=8080
SURREAL_USER="root"
SURREAL_PASS="root"
SURREAL_NAMESPACE="open_notebook"
SURREAL_DATABASE="staging" # this will actually be user-specific
ENCRYPTED_CONNECTION = False 

# This is used for the summarization feature when the content is to big to fit a single context window
# It is measured in characters, not tokens.
SUMMARY_CHUNK_SIZE=200000 # too much? not enough?
SUMMARY_CHUNK_OVERLAP=1000

# This is used for vector embeddings
# It is measured in characters, not tokens.
EMBEDDING_CHUNK_SIZE=2000
EMBEDDING_CHUNK_OVERLAP=100

